/*!
Theme Name: sparkle blog
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: Blog
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

law_frim is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
    outline: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    margin-top: 0;
}

p {
    color: #787878;
    margin-bottom: 1.5em;
    font-size: 17px;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    text-decoration: none;
    font-weight: 500;
    color: #232529;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    color: #333;
    font-size: 14px;
    line-height: 25px;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #e5f0f4;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

label {
    font-weight: normal;
    color: #232529;
    margin: 0;
}

label .required {
    border-bottom: none;
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

ul,
ol {
    padding: 0 0 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 20px;
    color: #232529;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

figure {
    margin: 0;
    overflow: hidden;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    border: 1px solid #eee;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border-color: #eee;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: normal;
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
select,
textarea {
    border: 1px solid #eee;
    padding: 7px 10px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background: #f1f5f8;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="url"] {
    height: 40px;
}

textarea {
    display: block;
    width: 100%;
}

select {
    background: no-repeat right #fff;
    -webkit-appearance: none;
    background-position-x: 95%;
}

select::-ms-expand {
    display: none;
}

:focus {
    outline: none;
}

blockquote {
    font-family: 'Pacifico', cursive;
    color: #333;
    border: none;
    padding: 15px 0px 15px 20px;
    margin-bottom: 12px;
    margin: 15px 0;
    background: rgba(204, 204, 204, 0.07058823529411765)
}

iframe {
    display: block;
    max-width: 100% !important;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    filter: alpha(opacity=100);
}

input[type="radio"],
input[type="checkbox"] {
    margin-top: 5px;
}

a.button,
button,
input[type="submit"] {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    padding: 8px 20px;
    border: none;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-weight: 600;
    outline: 0;
}

a.button:hover,
a.button:focus,
button:hover,
input[type="submit"]:hover {
    opacity: 0.7;
    color: #fff;
    outline: 0;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #d10a97;
    text-decoration: none;
    line-height: inherit;
    outline: none;

}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #ff565c;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 0px;
    width: 44px;
    height: 46px;
    text-align: center;
    background: #c6c6c6;
    color: #212121;
    line-height: 49px;
    z-index: 99;
    cursor: pointer;
}

.bz_main_nav {
    background: #fbfbfb;
    border-bottom: 1px solid #e1e1e1;
}

.main-navigation {
    vertical-align: middle;
    width: 100%;
}

.main-navigation ul {
    margin: 0;
    padding: 0 1px;
    text-align: center;
}

.main-navigation ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    text-align: left;
}

.main-navigation ul ul li {
    margin: 0;
}

.main-navigation ul li a {
    display: block;
    color: #0e0e0e;
    padding: 10px 16px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.main-navigation ul.nav-menu > li > a {
    padding: 16px 16px;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.active > a {
    color: #e4353a;
}

.main-navigation ul li ul {
    left: 0;
    top: 100%;
    margin: 0;
    width: 220px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #fbfbfb;
    z-index: 999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease 0s;
}

.main-navigation ul li ul li {
    position: relative;
    display: block;
    border-top: 1px dashed #e4e4e4;
}

.main-navigation ul li ul li:first-child {
    border-top: none;
}

.main-navigation ul li ul li a {
    padding: 10px 20px;
}

.main-navigation ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 160px;
    padding: 0;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #fbfbfb;
    z-index: 1;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)
}

.main-navigation ul li ul li {
    position: relative;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 220px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 0;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.main-navigation ul li ul li:hover > ul {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/*menu has children*/
.main-navigation ul > li.menu-item-has-children {
    position: relative;
}

.main-navigation ul > li.menu-item-has-children > a {
    padding-right: 25px;
}

.main-navigation div > ul > li.menu-item-has-children:before {
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
    font-size: 14px;
}

.main-navigation ul ul li.menu-item-has-children:before {
    content: '\f105';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
}

.main-navigation div > ul > li.menu-item-has-children:hover:before,
.main-navigation ul ul li.menu-item-has-children:hover:before {
    color: #e4353a;
}

.main-menu-toggle {
    display: none;
}

.main-menu-toggle:hover {
    color: #000;
}

.main-menu-container-collapse {
    display: block;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
.post-navigation {
    margin-bottom: 20px;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a,
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    color: #999999;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover {

}

.post-navigation .nav-previous a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f104";
    position: absolute;
    left: 0;
    font-size: 18px;
    color: #999999;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    height: 27px;
}

.post-navigation .nav-previous a:hover {
    padding-left: 17px;
}

.post-navigation .nav-previous a:hover:before {
    opacity: 1;
}

.post-navigation .nav-next a:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    content: "\f105";
    position: absolute;
    right: 0;
    font-size: 18px;
    color: #999999;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    height: 27px;
}

.post-navigation .nav-next a:hover {
    padding-right: 17px;
}

.post-navigation .nav-next a:hover:before {
    opacity: 1;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget,
.content-area {
    margin: 1.5em 0;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

.widget-area .widget {
    margin-bottom: 40px;
}

.widget-area label, .widget-area form {
    width: 100%;
}

.widget-area .widget.woocommerce ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.cross-sells h2,
.cart_totals h2,
.up-sells h2,
.related h2,
.woocommerce-billing-fields h3,
.woocommerce-shipping-fields h3,
.woocommerce-additional-fields h3,
#order_review_heading,
.woocommerce-order-details h2,
.woocommerce-column--billing-address h2,
.woocommerce-column--shipping-address h2,
.woocommerce-Address-title h3,
.woocommerce-MyAccount-content h3,
.wishlist-title h2,
.woocommerce-account .woocommerce h2,
.widget-area .widget .widget-title {
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 15px;
    line-height: 35px;
    text-align: center;
}

.cross-sells h2:after,
.cart_totals h2:after,
.up-sells h2:after,
.related h2:after,
.woocommerce-billing-fields h3:after,
.woocommerce-shipping-fields h3:after,
.woocommerce-additional-fields h3:after,
#order_review_heading:after,
.woocommerce-order-details h2:after,
.woocommerce-column--billing-address h2:after,
.woocommerce-column--shipping-address h2:after,
.woocommerce-Address-title h3:after,
.woocommerce-MyAccount-content h3:after,
.wishlist-title h2:after,
.woocommerce-account .woocommerce h2:after,
.widget-area .widget .widget-title:after {
    content: "";
    display: block;
    height: 2px;
    width: 30px;
    margin: 0px auto 5px auto;
    background: #ff565c;
}

.widget-area ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 10px;
    line-height: 32px;
}

.widget-area ul li a {
    color: #000;
}

.widget-area ul li:last-child {
    border: 0;
    padding-bottom: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_product_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_product_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_product_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;

}

.widget-area .widget a:hover,
.widget-area .widget a:hover::before,
.widget-area .widget li:hover::before {
    color: #e4353a;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_product_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f187";
    font-family: 'Font Awesome 5 Free';
    font-weight: 700;
    font-size: 14px;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_archive ul li a, .widget_categories ul li a, .widget_product_categories ul li a {
    float: left;
}

.widget_archive ul li, .widget_product_categories ul li, .widget_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.widget_categories a::before,
.widget_product_categories a::before {
    content: "\f07b";
    top: 0px;
}

.widget_archive a::before {
    top: -4px;
}

.widget_recent_entries a::before {
    content: "\f101";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f138";
}

.widget_recent_comments li::before {
    content: "\f086";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f1ea";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

/*
* wedget bio / about me
*/
.widget-area .widget .bio-background {
    height: 160px;
    background-size: cover;
    margin-bottom: -55px;
}

.widget-area .widget .bio-header {
    position: relative;
    min-height: 70px;
    text-align: center;
}

.widget-area .widget .bio-header img {
    background: #fff;
    max-width: 116px;
    padding: 5px;
}

.widget-area .widget .bio-header a img {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-radius: 50%;
}

.widget .social-link {
    text-align: center;
}

.widget .social-link ul {
    padding: 0;
    margin: 0;
}

.widget .social-link ul li {
    display: inline;
    padding: 5px;
    border: none;
}

.widget .social-link ul li a {
    display: inline;
    color: #b8b8b8;
}

.widget .social-link ul li a:hover {
    color: #ff565c;
}

/*
* Tag cloud
*/
.tagcloud a {
    background: #f5f5f5;
    font-size: 12px !important;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border-radius: 3px;
    margin: 3px 0;
    padding: 4px 8px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #333;
}

/*
* custom recent post
*/
.custom-recent-post-title {
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 0.5;
}

.custom-recent-post ul {
    margin: 0;
    padding: 0;
}

.custom-recent-post li .thumb {
    display: table-cell;
    padding-top: 5px;
    vertical-align: top;
    width: 72px;
}

.custom-recent-post li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    list-style-type: none;
}

.custom-recent-post li:last-child {
    border-bottom: none;
}

.custom-recent-post li .info {
    box-shadow: inherit;
    color: #837f7e;
    display: table-cell;
    line-height: 26px;
    padding: 0 0 0 10px;
    vertical-align: top;
}

.custom-recent-post li .post-date {
    color: #ff565c;
}

/*-----------------------------------------------------
## sidebar type 2
=--------------------------------------------------------*/
.widget-area.sidebar-two .widget {
    background: #FFF;
    padding: 15px;
    webkit-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
}

.widget-area.sidebar-two.border-wrap .widget {
    background: transparent;
    border: 1px solid #ededed;
    box-shadow: none;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-item img {
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 32.4%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.gallery figure {
    margin: 0px;
    padding: 3px;
}

/*-------------------------------------------------
## General Css
---------------------------------------------------*/
.thin_layer {
    bottom: 0;
    height: 100%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

.btn-dark {
    background: #000;
    color: #FFF;
    padding: 12px 15px;
}

section {
    margin: 50px 0;
}

.read_more_layout_one {
    position: relative;
    display: inline-block;
    padding: 8px 0;
    vertical-align: top;
}

.read_more_layout_one::before {
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    width: 40px;
    height: 40px;
    border-radius: 32px;
    font-family: "Font Awesome 5 Free";;
    font-size: 14px;
    content: "\f105";
    color: #fff;
    font-size: 14px;
    position: absolute;
    line-height: 41px;
    padding-left: 16px;
    left: 0;
    font-weight: 700;
    top: 0;
    transition: .5s ease-in-out;
    text-align: left;
    z-index: 1;
}

.read_more_layout_one:hover::before {
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    color: #fff;
    width: 100%;
    border-radius: 32px;

    text-align: left;
    padding-left: 25px;
}

.read_more_layout_one:hover a {
    position: relative;
    color: #FFF;
}

.read_more_layout_one a {
    padding: 0px 47px;
    z-index: 2;
    color: #000;
    font-size: 18px;
    transition: all 0.5s ease;
    position: relative;
}

.active .read_more_layout_one::before {
    background: #FFF;
    width: 100%;
    border-radius: 32px;
    text-align: left;
    padding-left: 25px;
    color: #ff007e;
}

.active .read_more_layout_one a {
    color: #ff007e;

}

.title-section {
    padding: 40px 0;
    text-align: center;
}

.title-section h2 {
    color: #222
}

.title-section p {
    max-width: 650px;
    padding-bottom: 0;
    margin: 0 auto;
}

.image_bg {
    background-position: 50%;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-color: #f1f1f1;
    background-size: cover;
}

/*----------------------------------------------------------------------
## Header
-----------------------------------------------------------------------*/

/*
* Top bar
**/
.e_host_top_header {
    background-color: #fff;
    padding: 10px;
    position: relative;
}

.e_host_top_header .row > div {
    align-self: center;
}

.e_host_top_header ul {
    padding: 0;
    margin: 0;
}

.e_host_top_header ul li {
    display: inline-block;
    padding: 5px 7px;
}

.e_host_top_header ul li a {
    color: #000;
}

.e_host_top_header .top_header_left ul {
    text-align: left;
}

.e_host_top_header .top_header_right ul {
    text-align: right;
}

.e_host_main_header {
    text-align: center;
    background: #f8f8f8;
}

.e_host_main_header .logo {
    width: 30.33%;
}

.e_host_main_header .main-menu-wrapper {
    width: 63.67%;
}

.e_host_main_header .site-branding h1 {
    margin: 0;
}

.e_host_main_header .site-branding h1 a {
    font-size: 30px;
    font-weight: 300;
}

.e_host_main_header .site-branding p {
    margin-bottom: 0;
}

header, .e_host_main_header {
    transition: all 0.5s ease 0s;
}

.header_sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease 0s;
    position: relative;
    z-index: 99999;
}

/*transparent header*/
.transparent_header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
}

.transparent_header .e_host_main_header {
    background: transparent;
}

.transparent_header .e_host_main_header .site-branding h1 a,
.transparent_header .e_host_main_header .site-branding p,
.transparent_header .main-navigation ul li a,
.transparent_header .search_main_menu a,
.transparent_header .main-navigation div > ul > li.menu-item-has-children:before {
    color: #43464b;
}

.transparent_header .main-navigation ul li a {
    font-size: 15px;
}

.transparent_header .main-navigation ul.sub-menu li a {
    color: #0e0e0e;
}

.transparent_header .main-navigation ul li:hover > a,
.transparent_header .main-navigation ul li.current-menu-item > a,
.transparent_header .main-navigation ul li.active > a {
    color: #10b64e;
}

.transparent_header .main-navigation div > ul > li.menu-item-has-children:hover:before, .transparent_header .main-navigation ul ul li.menu-item-has-children:hover:before {
    color: #10b64e;
}

.transparent_header.full_width .main-navigation ul li ul li ul, .transparent_header.full_width .main-navigation ul li ul {
    width: 180px;
}

.transparent_header.full_width .main-navigation ul li {
    margin: 0 3px;
}

.transparent_header.full_width .e_host_main_header {
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: inherit;
}

.transparent_header.full_width .logo {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.transparent_header.full_width .site-branding {
    text-align: center;
}

.transparent_header.full_width .search_main_menu {
    padding: 25px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.transparent_header.full_width .main-navigation ul {
    margin: 0;
    text-align: left;
}

.transparent_header.full_width .main-navigation ul.sub-menu {
    margin: 0;
}

/*transparent header*/

/*------------------------------------------------
## search model
-------------------------------------------------*/

.main-search-wrapper {
    width: 5%;
}

.main-search {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    color: #fff;
    display: table;
    text-align: center;
    line-height: 2.8;
    margin-top: 12px;
}

.main-search a {
    color: #FFF;
}

.search-content {
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999999;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.search-close {
    font-size: 51px;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.8;
    cursor: pointer;
    color: #FFF;
}

.search-inner {
    height: 100vh;
    display: table;
    margin: 0 auto;
    width: 50%;
}

.search-inner {
    height: 100vh;
    display: table;
    margin: 0 auto;
    width: 50%;
}

.search-inner form {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: relative;
}

.search-inner form input {
    color: #d5d5d5;
    padding: 30px 33px;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    font-weight: 500;
    background-color: transparent;
}

.search-inner form button {
    border: none;
    background: transparent;
    color: #000;
    position: absolute;
    right: 0px;
    margin-top: 33px;
}

.search-content-act {
    visibility: visible;
    opacity: 1;
}

/*-------------------------------------------------------------
## Banner
---------------------------------------------------------------*/
.ehost_banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    min-height: 500px;
}

.banner_inner_wrapper {
    min-height: 600px;
    display: flex;
    align-items: center;
}

.banner_content {
    width: 45%;
}

.banner_image {
    width: 65%;
}

.banner_content h2 {
    font-size: 45px;
}

/*------------------------------------------------------------
## pricing
--------------------------------------------------------------*/
.ehost_hosting_plan .wpb_wrapper {
    padding: 60px 0;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    transition: .5s ease-in-out;
    box-shadow: 0 7px 30px rgba(0, 0, 0, .07);
}

.ehost_hosting_plan .wpb_wrapper:hover {
    transform: translateY(-20px);
}

.ehost_hosting_plan .wpb_wrapper h3 {
    font-size: 20px;
}

.ehost_hosting_plan .wpb_wrapper .home_pricing_box p.pricing_cont {
    margin: 0;
    padding: 20px 0 23px;
    position: relative;
    text-transform: uppercase;
    line-height: 16px;
    color: #ff007e
}

.ehost_hosting_plan .wpb_wrapper .home_pricing_box p.pricing_cont span {
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
}

.ehost_hosting_plan .wpb_wrapper .home_pricing_box p.pricing_cont:before {
    width: 93px;
    height: 93px;
    position: absolute;
    content: "";
    background: #ff007e;
    opacity: .1;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto
}

.ehost_hosting_plan .wpb_wrapper .yearly_benefits_box p {
    color: #1633ff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
}

.ehost_hosting_plan .wpb_wrapper .yearly_benefits_box p span {
    display: block;
    font-size: 15px;
    line-height: 15px;
    color: #5a5f69;
    margin-top: 9px;
}

.ehost_hosting_plan .wpb_wrapper .plans_content_box ul {
    margin: 40px 0;
    padding: 0;
    list-style-type: none;
}

.ehost_hosting_plan .wpb_wrapper .plans_content_box ul li {
    line-height: 30px;
    font-weight: 500;
}

.ehost_hosting_plan .wpb_wrapper.active {
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
}

.ehost_hosting_plan .wpb_wrapper.active h3 {
    color: #FFF;
}

.ehost_hosting_plan .wpb_wrapper.active .home_pricing_box p.pricing_cont {
    color: #FFF;
}

.ehost_hosting_plan .wpb_wrapper.active .home_pricing_box p.pricing_cont:before {
    background: #fff;
    opacity: .1;
}

.ehost_hosting_plan .wpb_wrapper.active .yearly_benefits_box p {
    color: #FFF;
}

.ehost_hosting_plan .wpb_wrapper.active .yearly_benefits_box p span {
    color: #FFF;
}

.ehost_hosting_plan .wpb_wrapper.active .plans_content_box ul li {
    color: #FFF;
}

/*---------------------------------------------------------------------------
## Search Domain
-----------------------------------------------------------------------------*/
.ehost_search_domain {
    padding: 40px 0;
}

.ehost_search_domain .search_domain {
    width: 60%;
    display: block;
    margin: 25px auto;

}

.ehost_search_domain .search_domain label {
    width: 78%;
    display: inline-block;
}

.ehost_search_domain .search_domain .search-field {
    height: 56px;
    background-color: #fff;
    border: 1px solid #9fb2c3;
    border-radius: 32px !important;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #516f8f;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 10px 0 20px rgba(0, 0, 0, .1);
    padding-left: 25px;
}

.ehost_search_domain .search_domain .search-submit {
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    border-radius: 32px;
    color: #fff;
    font-size: 16px;
    line-height: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    padding: 20px 40px;
    height: auto;
    letter-spacing: normal;
    font-weight: 400;
    margin-left: 10px;
}

.ehost_search_domain .domain_price {
    width: 69%;
    display: block;
    margin: 0 auto;
}

.ehost_search_domain .domain_price .domain_list {
    width: 65px;
    height: 65px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
    margin: 0 15px;
    float: left;
    padding-top: 17px;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #222;
    box-shadow: 7px 0 30px rgba(0, 0, 0, .07);
    list-style-type: none;
}

.ehost_search_domain .domain_price .domain_list span {
    display: block;
}

/*--------------------------------------------------------------
## Feature Services
--------------------------------------------------------------*/
.ehost_feature_services {
    background: #e5f0f4;
    padding: 50px 0;
}

.ehost_feature_services .blog-post-list {
    display: flex;
    overflow: hidden;
    margin-bottom: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.ehost_feature_services .list-post-media {
    position: relative;
    float: left;
    width: 50%;

    overflow: hidden;
}

.ehost_feature_services .list-post-content {
    position: relative;
    float: left;
    width: 50%;
    overflow: hidden;
    padding: 30px;
}

.ehost_feature_services .list-post-content .blog-title a {
    color: #4f4b6c;
}

.ehost_feature_services .list-post-content .blog-title span {
    display: block;
    font-size: 16px;
}

.ehost_feature_services .image_bg {
    min-height: 408px;
}

/*-------------------------------------------------------------
## why eshosting
---------------------------------------------------------------*/
.e_host_why .why_ehosting_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.e_host_why .why_ehosting_wrapper.left_side .why_content {
    text-align: right;
}

.e_host_why .why_ehosting_wrapper .why_content {
    width: calc(100% - 90px);
}

.e_host_why .why_ehosting_wrapper .why_content h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.e_host_why .why_ehosting_wrapper .why_content h3 a {
    color: #4f4b6c;
}

.e_host_why .why_ehosting_wrapper .why_content p {
    font-size: 14px;
    margin-bottom: 0px;
}

.e_host_why .why_ehosting_wrapper .icon_box {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    line-height: 63px;
    text-align: center;
    font-size: 20px;
    color: #FFF;
    margin: 0 15px;
    background: #2430f7;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    transition: all 0.4s ease;
}

.e_host_why .why_ehosting_wrapper:hover .icon_box {
    transform: translateY(-5px);
}

/*-------------------------------------------------------------
## Testimonial
---------------------------------------------------------------*/
.e_host_testimonial{
    margin: 30px 0;
}
.testimonial_wrapper {
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 15px;
    margin-left: 43px;
}

.testimonial_wrapper .testimonial_wrapper_inner {
    background: #FFF;
    border-radius: 5px;
    padding: 15px 15px 15px 45px;
    position: relative;
}

.testimonial_wrapper .testimonial_wrapper_inner h3 {
    font-size: 16px;
    margin-bottom: 0px;
    color: #d10a97;
}

.testimonial_wrapper .testimonial_wrapper_inner span {
    margin-bottom: 0px;
    font-size: 15px;
}

.testimonial_wrapper .testimonial_wrapper_inner .testimonial_avatar {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    top: 15px;
    left: -44px;
    padding: 2px;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
}

.testimonial_wrapper .testimonial_wrapper_inner .testimonial_avatar .testimonial_avatar_inner {
    border-radius: 50%;
    overflow: hidden;
    width: 76px;
    height: 76px;
}

.testimonial_wrapper .testimonial_wrapper_inner .testimonial_avatar img {
    width: 100%;

}

.e_host_testimonial .owl-carousel .owl-nav button.owl-next, .e_host_testimonial .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    transition: all 0.5s ease;
}

.e_host_testimonial .owl-carousel .owl-nav button.owl-next,
.e_host_testimonial .owl-carousel .owl-nav button.owl-prev {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 20px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    outline: 0;
}

.e_host_testimonial .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.e_host_testimonial .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
}

.owl-theme .owl-dots .owl-dot span {
    background: -moz-linear-gradient(-45deg, #787ff3 0%, #ef7ece 100%);
    background: -webkit-linear-gradient(-45deg, #787ff3 0%, #ef7ece 100%);
    background: linear-gradient(135deg, #787ff3 0%, #ef7ece 100%);
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    outline: none;
}

/*----------------------------------------------------------------
##
-----------------------------------------------------------------*/

.e_host_client_logo {
    background: #4352df;
    background: -webkit-linear-gradient(#4352df, #833ca7);
    background: -o-linear-gradient(#4352df, #833ca7);
    background: -moz-linear-gradient(#4352df, #833ca7);
    background: linear-gradient(#4352df, #833ca7);
    padding: 40px 0;
}

.e_host_client_logo .title-section h2 {
    color: #FFF;
}
.e_host_client_logo .title-section p{
    color: #FFF;
}


.client_logo_wrapper {
    padding: 0 20px;
}

.client_logo_inner {
    background: #FFF;
    -webkit-box-shadow: 0px 20px 13px -1px rgba(148, 142, 148, 0.44);
    -moz-box-shadow: 0px 20px 13px -1px rgba(148, 142, 148, 0.44);
    box-shadow: 0px 20px 13px -1px rgba(148, 142, 148, 0.44);
}

/*--------------------------------------------------------------
## Footer Widget
--------------------------------------------------------------*/
.site-footer {
    background: #191818;
    color: #fff;
}

.upper_footer {
    position: relative;
    background: #333333;
    padding-top: 40px;
    border-bottom: 1px solid #444444;
}

.site-footer .widget {
    margin: 2em 0;
}

.site-footer .widget .widget-title {
    width: 100%;
    margin-top: 0;
    text-transform: uppercase;
    display: inline-block;
    color: #dddddd;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.6;
    padding-bottom: 5px;
    position: relative;
    margin-bottom: 20px;
}

.site-footer .widget ul,
.widget_tag_cloud .tagcloud {
    padding: 0;
}

.site-footer .widget ul li {
    border-bottom: none;
    margin-bottom: 0;
    list-style-type: none;
}

.site-footer .widget ul li:last-child {
    border: 0;
}

.site-footer .widget ul li,
.site-footer .widget ul li a,
.site-footer .widget a,
.site-footer .widget ul li:before,
.site-footer .widget a::before,
.site-footer .calendar_wrap table td,
.site-footer .calendar_wrap table th {
    color: #dddddd;

}

.site-footer .widget a:hover,
.site-footer .widget a:hover::before,
.site-footer .widget li:hover::before {
    color: #e6095c;
}

.site-footer .widget_recent_entries a {
    padding-left: 15px;
}

.logo-widget p {
    color: #dddddd;
}

.logo-widget .social-link ul {
    text-align: left;
}

.logo-widget .social-link ul li {
    border-bottom: none;
    margin-bottom: 0;
    text-align: left;
}

.site-footer .custom-recent-post li .post-date:hover {
    color: #e6095c;
}

.site-footer .custom-recent-post ul li {
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.lower_bottom {
    position: relative;
    background: #333333;
    width: 100%;
    padding: 21px 0px 20px 0px;
}

.lower_bottom .row > div {
    align-self: center;
}

.lower_bottom .copyright {
    font-size: 12px;
    color: #dddddd;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: left;
}

.lower_bottom .copyright a {
    color: #FFF;
}

.lower_bottom .copyright a:hover {
    color: #e6095c;
}

.lower_bottom ul {
    padding: 0;
    margin: 0;
}

.lower_bottom ul li {
    display: inline-block;

}


.lower_bottom ul li a {
    color: #FFF;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 2.5;
    border-radius: 50%;
    background: -moz-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: -webkit-linear-gradient(-45deg, #2430f7 0%, #d10a97 100%);
    background: linear-gradient(135deg, #2430f7 0%, #d10a97 100%);
    transition: all 0.4s ease;
}

.lower_bottom ul li  a:hover {
    transform: translateY(-5px);
}

.lower_right ul {
    text-align: right;
}

.lower_left ul {
    text-align: left;
}

/*-------------------------------------------
# Breadcrumbs section
--------------------------------------------*/

.breadcrumb {
    padding: 30px 0px 13px 0px;
    margin-bottom: 50px;
    background-size: cover;
    background: #06284a;
    position: relative;
}

.breadcrumb.transparent_header_breadcrumb {
    padding: 80px 0px 13px 0px;

}

.breadcrumb_wrapper {
    height: 100px;
    display: table;
}

.breadcrumb h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 110%;
    text-transform: capitalize;
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb nav {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb ul {
    text-align: right;
    color: #FFF;
    padding: 0;
    margin: 0;
}

.breadcrumb ul li {
    display: inline;
    font-size: 16px;
    color: #86bc42;
    font-weight: 500;
}

.breadcrumb ul li a {
    color: #FFF;
    transition: 0.8s ease;
}

.breadcrumb ul li a:after {
    content: ">";
    color: #FFF;
    padding: 0px 8px;
    position: relative;
    top: 1px;
}

.breadcrumb ul li:last-child a:after {
    content: "";

}

/*
## Breadcrumbs layout two
*/

.breadcrumb.layout_two, .breadcrumb.layout_three, .breadcrumb.layout_four {
    padding: 30px 0px 13px 0px;
    margin-bottom: 0px;
    background-size: cover;

}

.breadcrumb.layout_two h1, .breadcrumb.layout_two nav, .breadcrumb.layout_four nav,
.breadcrumb.layout_three h1, .breadcrumb.layout_three nav, .breadcrumb.layout_four h1 {
    display: block;
}

.breadcrumb.layout_two ul {
    text-align: left;
    padding: 0;
    margin: 0;
}

.breadcrumb.layout_three ul {
    text-align: center;
}

.breadcrumb.layout_three h1 {
    text-align: center;
}

.breadcrumb.layout_four ul {
    text-align: right;
}

.breadcrumb.layout_four h1 {
    text-align: right;
}

/*-------------------------------------------------
##  auther box
---------------------------------------------------*/
.author-info {
    border-bottom: 1px solid #e5e5e5;
    text-align: left;
    display: inline-block;
    width: 100%;
    padding-bottom: 50px;
}

.author-info .author-left {
    float: left;
}

.author-info img {
    display: inline-block;
    height: 90px;
    width: 90px;
    float: none;
    margin-bottom: 20px;
    border-radius: 200em;
}

.author-info .author-right {
    float: left;
    width: 85%;
    padding-left: 35px;
}

.author-info h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.author-info h2 a {
    font-size: 15px;
    text-transform: uppercase;
}

.author-info p {
    margin-bottom: 30px;
}

.blog-style .author-info .social-link li {
    padding-left: 0;
}

/*********************
* comment form
***********************/
#respond {
    clear: both;
    display: block;
    margin-top: 50px;
}

#respond input[type="text"], #respond input[type="email"], #respond input[type="url"], #respond input[type="password"], #respond input[type="search"], #respond input[type="number"], #respond input[type="tel"], #respond input[type="range"], #respond input[type="date"], #respond input[type="month"], #respond input[type="week"], #respond input[type="time"], #respond input[type="datetime"], #respond input[type="datetime-local"], #respond input[type="color"], #respond textarea {
    background: #f5f5f5;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 45px;
    padding: 0 15px;
    color: #3d3a3a;

}

#respond textarea {
    height: 200px;
}

.comments-area {
    margin-top: 40px;
}

#respond .form-submit .submit {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #000;
    text-align: center;
    background: #000;
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

ol.comment-list {
    clear: both;
    display: block;
    width: 100%;
}

ol.comment-list li {
    list-style-type: none
}

.vcard .avatar {
    float: left;
    margin-right: 40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.comments-area .fn {
    display: inline-block;
    font-size: 14px;
    color: #ff565c;
}

.reply a {
    color: #ff565c;
}

.comment-metadata a {
    color: #8b8b89;
}

.comments-title, .comment-reply-title {
    font-size: 20px;
}
