@media only screen  and (max-width: 1500px) {

}

@media (max-width: 1200px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

    /*--------------------------------------------------------------
     ## Menus
     --------------------------------------------------------------*/
    .main-menu-toggle {
        display: block;
        position: absolute;
        top: -56px;
        right: 9px;
        font-size: 17px;
        padding: 7px 14px;
        z-index: 9999;
        border: 1px solid #ddd;
        background: #ebebeb;
        border-radius: 3px;
        color: #888;
    }
    .main-menu-toggle:hover {
        background: #fgfgfg;
        color: #888;
    }

    span.sub-toggle {
        display: block;
    }

    .main-menu-container-collapse {
        display: none;
        position: absolute;
        width: 100%;
        padding: 0;
        width: 100%;
        left: 0;
        z-index: 999;
    }

    .main-navigation {
        background: none;
        border-top: none;
        position: absolute;
        left: 0;
        width: 100%;
    }

    .main-navigation ul {
        border:none;
        width: 100%;
        background: #FFF;
    }

    .main-navigation ul li {
        display: block;

    }

    .main-navigation ul ul li {
        margin: 0;

    }

    .main-navigation ul li a {
        line-height: 1.2;
        padding: 14px 16px;
        border-bottom: 1px dashed #f1f1f1;
    }

    .main-navigation ul.nav-menu > li > a {
        padding: 10px 16px;
    }
    .main-navigation ul li ul li {
       border-top:none;
    }

    .main-navigation ul li ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        left: auto;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        border: none;
        background: transparent;
    }

    .main-navigation ul li ul li {
        position: relative;
        display: block;
    }

    .main-navigation ul li ul li a {
        padding: 14px 20px;
        font-size: 16px;
    }

    .main-navigation div > ul > li.menu-item-has-children:before,
    .main-navigation ul ul li.menu-item-has-children:before {
        display: none;
    }


}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
    .spl_law_top_bar ul {
        padding: 6px 0 3px 0;
        margin: 0;
        text-align: center;
    }

    .top_bar_right{
        text-align: center;
    }
    .spl_law_top_bar .top_bar_right a,.spl_law_top_bar .top_bar_right ul  {
        float: unset;
    }
    .breadcrumb {
        padding: 50px 0;
    }

    .breadcrumb_wrapper {
        display: block;
        text-align: center;
    }

    .breadcrumb h2 {
        text-align: center;
        display: block;
        margin-bottom: 10px;
    }

    .breadcrumb nav {
        display: inline-block;
        text-align: center;
    }

    .copyright{
        text-align: center;
    }

   .lower-footer ul.social-media{
       text-align: center;
   }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 500px) {

    .section-title {
       width: 290px;
    }
}